@import url(https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.2.0/css/ol.css);

:host {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#map {
    flex-grow: 1;
}