<nav class="navbar navbar-expand-lg pt-3 pb-3 navbar-dark bg-primary">
  <a class="navbar-brand" [routerLink]="['/']">CMS</a>
  <button #toggleButton class="navbar-toggler" type="button" (click)="toggleCollapse()" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [class.show]="show" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/dashboard']" [routerLinkActive]="['active']" (click)="toggleCollapse()"><i class="fa fa-home fa-lg"></i> Home</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['/sites']" [routerLinkActive]="['active']" (click)="toggleCollapse()"><i class="fa fa-map-marker fa-lg"></i> Sites</a>
        </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/map']" [routerLinkActive]="['active']" (click)="toggleCollapse()"><i class="fa fa-globe fa-lg"></i> Map</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/help']" [routerLinkActive]="['active']" (click)="toggleCollapse()"><i class="fa fa-question-circle-o fa-lg"></i> Help</a>
      </li>
      <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link test dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
          Test Pages
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" ngbDropdownMenu>
          <a class="dropdown-item" [routerLink]="['/tree']" (click)="toggleCollapse()">Tree</a>
          <a class="dropdown-item">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light my-2 my-sm-0" type="button">Search</button>
    </form>
  </div>
</nav>