:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container-fluid {
    overflow: auto;
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #cddcf2;
}

footer {
    font-size: 1rem;
    padding: .5rem 1rem;
    color: white;
    background-color: #0064a3;
}