:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main {
   overflow: auto;
    flex-grow: 1;
    height: 100%;
    background-color: #cddcf2;
    display: flex;
    flex-direction: column;
}

.footer-content {
    font-size: 1rem;
    padding: .5rem 1rem;
    color: white;
    background-color: #0064a3;
}

.footer-spacer {
    height: 5px;
    background-color: rgb(107, 158, 30);
}

.main-row {
    flex-grow: 1;
}