<h2>Sites Map</h2>
<div class="main-container">
    <app-map></app-map>
    <div class="site-details-panel" [ngClass]="{ 'show' : showSiteDetails }">
        <div *ngIf="this.site">
            <div>
                <div *ngIf="site.image">
                    <div class="image-container">
                        <img [src]="'assets/' + site.siteCode + '.jpg'">
                    </div>
                </div>
                <div>
                    {{site.siteCode}}
                </div>
                <div>
                    {{site.name}}
                </div>

                <button class="btn btn-primary" [routerLink]="['/site-details', site.siteCode]">Details</button>
            </div>
        </div>
    </div>
</div>