<h2>Dashboard</h2>

<div class="grid-wrapper">
    <!-- sites -->
    <app-card>
        <h5 class="card-header bg-primary text-light">
            <a [routerLink]="['/sites']">Sites</a>
            <i class="fa fa-star pull-right"></i>
        </h5>
        <div class="card-body">
            <app-sites-list></app-sites-list>
        </div>
    </app-card>

    <!-- map -->
    <app-card>
        <h5 class="card-header bg-primary text-light">
            <a [routerLink]="['/map']">Map</a>
            <i class="fa fa-globe pull-right"></i>
        </h5>
        <div class="card-body">
            <app-map></app-map>
            <!-- <div class="row">
                <img class="img-fluid mx-auto" src="./img/map.png">
            </div> -->

            <p class="card-text">
                Open map
            </p>
        </div>
    </app-card>

    <!-- help -->
    <app-card>
        <h5 class="card-header bg-primary text-light">
            <a [routerLink]="['/help']">Help</a>
            <i class="fa fa-question-circle pull-right"></i>
        </h5>
        <div class="card-body">
            <app-help-list></app-help-list>
        </div>
    </app-card>

    <!-- site report -->
    <app-card>
        <h5 class="card-header bg-primary text-light">Site Report
            <i class="fa fa-pie-chart pull-right"></i>
        </h5>
        <div class="card-body">
            <div class="row">
                <img class="img-fluid mx-auto" src="./assets/pie-chart.png">
            </div>

            <p class="card-text">
                A summary chart
            </p>
        </div>
    </app-card>

    <!-- reporting -->
    <app-card>
        <h5 class="card-header bg-primary text-light">Reporting
            <i class="fa fa-list pull-right"></i>
        </h5>
        <div class="card-body">

            <ul>
                <li>
                    <i class="fa fa-chevron-right"></i>
                    <a href="#">Annual Project List with Resources</a>
                </li>
                <li>
                    <i class="fa fa-chevron-right"></i>
                    <a href="#">Multi-site Resource Summary</a>
                </li>
                <li>
                    <i class="fa fa-chevron-right"></i>
                    <a href="#">Annual Project Expenditure Review</a>
                </li>
                <li>
                    <i class="fa fa-chevron-right"></i>
                    <a href="#">Work Plan for the Current User</a>
                </li>
                <li>
                    <i class="fa fa-chevron-right"></i>
                    <a href="#">Staff Work Plan - Project Descriptions</a>
                </li>
                <li>
                    <i class="fa fa-chevron-right"></i>
                    <a href="#">Allocation Edits</a>
                </li>
                <li>
                    <i class="fa fa-chevron-right"></i>
                    <a href="#">Natura 2000 Corporate Report</a>
                </li>
                <li>
                    <i class="fa fa-chevron-right"></i>
                    <a href="#">Filtered Features List</a>
                </li>
            </ul>
        </div>
    </app-card>

    <!-- work recording -->
    <app-card>
        <h5 class="card-header bg-primary text-light">Work Recording
            <i class="fa fa-edit pull-right"></i>
        </h5>
        <div class="card-body">
            <ul>
                <li>
                    <i class="fa fa-pencil"></i>
                    <a href="#">Weekly work recording</a>
                </li>
                <li>
                    <i class="fa fa-check"></i>
                    <a href="#">Approve weekly work recording entries</a>
                </li>
                <li>
                    <i class="fa fa-search"></i>
                    <a href="#">Object inspection</a>
                </li>
                <li>
                    <i class="fa fa-database"></i>
                    <a href="#">Import remote work</a>
                </li>
                <li>
                    <i class="fa fa-pencil"></i>
                    <a href="#">Diary entry form</a>
                </li>
                <li>
                    <i class="fa fa-pencil"></i>
                    <a href="#">Quick work recording</a>
                </li>

            </ul>
        </div>
    </app-card>

    <!-- administration -->
    <app-card>
        <h5 class="card-header bg-primary text-light">Administration
            <i class="fa fa-cog pull-right"></i>
        </h5>
        <div class="card-body">

            <ul>
                <li>
                    <i class="fa fw fa-wrench grey"></i>
                    <a href="#">Configuration</a>
                </li>
                <li>
                    <i class="fa fw fa-users green"></i>
                    <a href="#">Users</a>
                </li>

            </ul>
        </div>
    </app-card>


</div>