@import "~@ng-select/ng-select/themes/default.theme.css";

html, body {
    height: 100%;
}

.bg-primary, .btn-primary {
    background-color:#0064a3!important;
}

.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #0064a3;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
