@import "~@ng-select/ng-select/themes/default.theme.css";

html, body {
    height: 100%;
}

.bg-primary, .btn-primary {
    background-color:#0064a3!important;
}

.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #0064a3;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* h2 {
    background-color: #cddcf2;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
} */

.card h2 {
    margin-left: 0px;
    margin-right: 0px;
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}