@import "~@ng-select/ng-select/themes/default.theme.css";

.bg-primary {
    background-color:#0064a3!important;
}
.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #0064a3;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
